@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.studentDetails{
  /* border-style: dotted; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  flex-direction: column;
  gap: 30px;
  background-color: #1d2b3a;
  padding: 100px;
}
.inputbox{
  position: relative;
  width: 250px;
}
.inputbox input{
  width: 100%;
  padding: 10px;
  border: 1px solid;
  background: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.5s;
  box-shadow: -4px -4px -10px rgba(255,255,255,0),
              inset 4px 4px 10px rgba(0,0,0,0.05),
              inset -4px -4px -10px rgba(255,255,255,1),
              4px 4px 10px rgba(0,0,0,0.05)
}
.inputbox span{
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255,255,0,255);
  text-transform: uppercase;
  transform: 4s;
}
.inputbox input:focus ~span,
.inputbox input:valid ~span{
  background: #00dfc4;
  color: #1d2b3a;
  border-radius: 1rem;
}
.inputbox input:focus ~span,
.inputbox input:valid ~span
{
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.56em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;


}
.inputbox input:focus ,
.inputbox input:valid {
  border: 1px solid #00dfc4;
}

.inputbox input ~i{
  color: #fff;
  position: absolute;
  margin-top: 10px;
  margin-left: -29px;
}
